.logo{
    width: 1350px;
    height: 50px;
    background-color: black;
    color: gray;
    padding-left: 200px;
    padding-top: 20px;
    font-size: 27px;
    font-family: sans-serif;
}
.title{

    font-family:sans-serif;
    color: rgb(27, 24, 24);
    margin-left: 400px;
}
#text{
    width: 400px;
    margin-left: 470px;
    border-color: rgb(175, 170, 170);
    border-radius: 3px;
    color: grey;
    padding: 10px;
    font-size: 10px;
       
}
.addButton{
    width: 40px;
    height: 30px;
    background-color: rgb(6, 6, 243);
    color: white;
    margin-left: 950px;
    margin-top: -30px;
    border-radius: 3px;
}

table {
 border: 1px solid black;
 border-collapse: collapse;
 margin-left: 400px;
}

td{
    border: 1px solid black;

}

td:nth-of-type(2){
    width: 200px;
    font-size: 20px;
    font-family: sans-serif;
}

td:last-of-type{
    cursor: pointer;
    color: red;

}
